body {
  font-family: Arial, sans-serif;
  color: #333;
  background: #929191;
}
.tageH1-1 {
  color: #f5b5b5;
  font-style: italic;
  font-weight: bold;
  font-size: xx-large;
}
.tageP-1 {
  color: #000;
  font-size: larger;
  font-weight: 600;
}
.tageA-1 {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  background: #f5a124;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.tageA-1:hover {
  width: auto;
  font-weight: 500;
  border-radius: 10px;
  padding: 0 10px;
  transform: scale(1.1);
}
.div-1 {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  margin-top: 100px;
}
.div-2 {
  width: 500px;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #929191;
  background: #ffff;
  display: flex;
  flex-flow: column;
}
.div-3 {
  display: flex;
  justify-content: center;
  padding: 10px 14px;
  width: auto;
}
.div-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
}
.tageA-1:hover .div-4 {
  background: #ffff;
}
.tageSpan-1 {
  display: none;
}
.tageSpan-2 {
  font-size: 25px;
  font-weight: bold;
  color: #ffff;
}
.tageA-1:hover .tageSpan-1 {
  color: #ffff;
  display: block;
}
.tageA-1:hover .tageSpan-2 {
  color: #f5a124;
}
.div-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slideNow {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
.img-1 {
  animation: slideNow 2s ease-in-out;
}
